@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


html{
  width: 100%;
}

body{
/*	background-image: url(https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?cs=srgb&dl=abs-adult-athlete-1229356.jpg&fm=jpg);
	background-size: cover;
	background-position: center;
	color: white;*/
}


/* -------------------------------------------------------------------------------------- */
/*                                          NAVBAR                                        */
/* -------------------------------------------------------------------------------------- */

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FFD700;
}

.navbar .navbar-brand{
	font-size: 2.5em;
	/*color: #FFD700;*/
  	font-family: 'Archivo Black', sans-serif;
}

.navbar .navbar-nav a{
	margin-left: 10%;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #FFD700;
}

.bg-dark-custom{
	background-color: #1c1c1c;
}

.gold{
  color: #FFD700;
}

@media only screen and (max-width: 992px){
  /*#homeLink{
    border-width: 0;
    padding: 0;
  }*/
}

  @media only screen and (max-width: 768px){
   /* .content{
      padding-top: 40%;
    }*/
  }

    @media only screen and (max-width: 424px){
      /*.content{
        padding-top: 50%;
      }*/
    }

/* -------------------------------------------------------------------------------------- */
/*                                          CONTENT                                       */
/* -------------------------------------------------------------------------------------- */

/*hr{
	border-color: white;
	width: 400px;
}*/

/*h1{
	color: #FFD700;
}*/

#wrapper {
  min-height: 75%;
  position: relative;
}

.container .content .jumbotron.jumbotron-custom{
	/*background: rgba(204, 204, 204, 0.4);*/
	padding-top: 7em;
  background: transparent;
  color: white;
}

.card .py-5 .h1{
	font-family: 'Archivo Black', sans-serif;
	font-size: 3.5em;
	color: black;
}

#background_img{
  background: url(../../images/GOLD.jpg);
  background-size: cover;
  background-position: center;
}

#aboutUs{
  font-size: 1.1em;
}


/* -------------------------------------------------------------------------------------- */
/*                                          FOOTER                                        */
/* -------------------------------------------------------------------------------------- */

footer {
    clear: both; /*prevents floating elements from right/left of footer*/
    position: relative; /*Positions footer relative to other elements on hte page*/
    z-index: 1; /*z-index positions elements in front or behind eachother, most have a //natual z-index of -1*/
    height: -3em; /*exactly what it says...*/
    margin-top: 5em; /*moves footer to bottom of all elements*/
}

footer.page-footer .footer-copyright{
	background-color: #1e1e1e;
}


.unique-color-dark {
	background-color: #232323!important;
}